<li class="brick shadow charttest" id= <%= widgetid %>  ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)" style="height:180px;padding=10px">
    <div class="am-thumbnail shadow " id="hightchartsdiv" style="width:100%;height:180px;overflow:auto;overflow-y:hidden">
    </div>
    <a class='delete' href='#'>&times;</a>
</li>
