<!doctype html>
<html class="no-js fixed-layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Developing</title>
    <meta name="description" content="这是一个 Developing 页面">
    <meta name="keywords" content="Developing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/sudoku.css">
  <style>
    .get {
      background: #1E5B94;
      color: #fff;
      text-align: center;
      padding: 100px 0;
    }

    .get-title {
      font-size: 200%;
      border: 2px solid #fff;
      padding: 20px;
      display: inline-block;
    }

    .get-btn {
      background: #fff;
    }

    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
</style>


</head>

<body>
    <!--[if lte IE 9]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器。请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
        以获得更好的体验！</p>
    <![endif]-->

    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="/"><strong>Developing</strong> <small> It will soon be complete</small></a>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        </div>
    </header>
    <div class="get">
        <div class="am-g">
            <div class="am-u-lg-12">
                <h1 class="get-title">Sorry- It will soon be complete</h1>
                <p>
                    我们正在完善这个功能，敬请期待
                </p>
                <p>
                    <a href="/" class="am-btn am-btn-sm get-btn">back</a>
                </p>
                <p>
                    <marquee direction="left" align="bottom" width="100%" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="10">
                    <img src="\assets\image\d1.png" />
                    <img src="\assets\image\d2.png" />
                    <img src="\assets\image\d3.png" />
                    <img src="\assets\image\d4.png" />
                    <img src="\assets\image\d5.png" />
                    <img src="\assets\image\d6.png" />
                    </marquee>
                </p>
 <footer class="footer">
    <p>
        © 2016届 <a href="http://www.xxxxxx.com" target="_blank">北京邮电大学 -- </a> <a href="http://www.bupt,edu.cn" target="_blank">可视化轻量级服务聚合器</a>. by MCSC. <br />
        图标来自 <a href="http://dapinographics.com/" target="_blank">DaPino</a><br />
        <!--contact us   -->
    </p>
</footer>
            </div>
        </div>
    </div>
<!--
  <div class="am-g am-container">
      dsfafafafa
  </div>-->

</body>

</html>