<div class="hero-unit">
    <h1>welcome to <%= title %> </h1>
</div>
<div>
    <h3>Three equal columns</h3>
    <div class="well" style="width:28%; float:left">
        <a href="/BVmushup"> 服务设计界面</a>
        <p>something blab lbalb abl ablabsomething blab lbalb abl ablabsomething blab lbalb abl ablabsomething blab lbalb abl
            ablabsomething blab lbalb abl ablab</p>
    </div>
    <div style="width:2%; float:left"><p> </p></div>
    <div class="well" style="width:28%; float:left">
        <a href="/register"> 服务注册界面</a>
        <p>something blab lbalb abl ablabsomething blab lbalb abl ablabsomething blab lbalb abl ablabsomething blab lbalb abl
            ablabsomething blab lbalb abl ablab</p>
    </div>
    <div style="width:2%; float:left"><p> </p></div>
    <div class="well" style="width:29.5%; float:left">
        <a href="/serverlist"> 服务列表界面</a>
        <p>something blab lbalb abl ablabsomething blab lbalb abl ablabsomething blab lbalb abl ablabsomething blab lbalb abl
            ablabsomething blab lbalb abl ablab</p>
    </div>
</div>