<li class="brick" id= <%= widgetid %>  ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)">
    <div id= <%= widgetid+"map" %> style='height:100%'></div>
    <a class='delete' href='#'>&times;</a>
</li>

               