<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Pizzahub guide detial</title>
  <link rel="stylesheet" media="screen" href="../assets/css/pizzahub.css" /> 


  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="../assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>

     <header data-am-widget="header"
          class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
          <a href="/" class="">

                <i class="am-header-icon am-icon-home"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          
            Pizzahub tutorial

      </h1>  
    </header>

  <article>
    <div class="progress progress-striped">
        <div id="progresslen" class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 0;">
            Step 0 of 7
        </div>
    </div>
    <section>
      <h1>Welcome to the Pizzahub tutorial!</h1>
        <p class="small">  目前的互联网的应用开发中已经出现了大量的Web服务，每个Web服务提供特定的功能。然而单独的一项功能无法满足特定场景的需要。Pizzahub是一个提供众多功能模块的平台，用户通过简单的鼠标点击、拖拽操作就可以添加需要的模块，还可以任意改变模块位置或删除模块，从而在尽可能短的时间内实现所需服务的开发。 
        </p>
        <p>
            本页面将引导你如何使用Pizzahub完成属于你自己的个性化模块组合！
        </p>
        <img src="../assets/images/fistpage.png" class="small"/>
    </section>

    <section>
      <h1>Step 1  服务列表界面</h1>
      <p>点击页面左侧菜单按钮，可将服务列表展开.
      <p>  <img src="../assets/images/step1.1.png"/ class="small"> </p>
      <p>
        服务列表中有不同类型的服务模块可供选择；
        可拖拽任意模块到面板；
        <img src="../assets/images/step1.2.png" class="small"/>
    </section>

    <section>
      <h1>Step 2 绑定数据源</h1>
      <p>在拖出的服务模块中选择数据源进行绑定</p>
      <img src="../assets/images/step2.1.png" class="small"/>
      <p>提交后模块显示不同内容</p>
      <img src="../assets/images/step2.2.png" class="small"/>
    </section>

    <section>
      <h1>Step 3 Web 服务模块</h1>
      <p>可在服务列表中选择已有的Web服务模块，如地图模块</p>
      <img src="../assets/images/step3.1.png" class="small"/>
    </section>

    <section>
      <h1>Step 4 调整模块位置</h1>
      <p>可在面板内拖动模块来改变其排列顺序</p>
      <img src="../assets/images/step4.1.png" class="small"/>
    </section>

    <section>
      <h1>Step 5 移除模块</h1>
      <p>点击模块右上角的×图标可将不需要的模块移除</p>
      <img src="../assets/images/step5.1.png" class="small"/>
    </section>

    <div id="cartoon">
      <br>
      <a href="#">收起演示 &raquo;</a>
      <br>
      <img src="../assets/images/pizzahub1.gif" id="cartoongif"/>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    <nav>
      <ul class="am-pagination blog-pagination">
        <li class="am-pagination-prev"><a href="#" id="lastStep">&laquo; 上一步</a></li>
        <li class="am-pagination-next"><a href="#top" id="nextStep">下一步 &raquo;</a></li>
      </ul>
    </nav>
  <script src="../assets/js/showSection.js"></script>
<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
</body>
</html>