<li class="brick" id=<%= widgetid %>  ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)">
 <img class="am-thumbnail shadow" src=<%=imgurl%>>    <a class='delete' href='#'>&times;</a>
</li>